body {
  margin: 0;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: .875rem;
}
.homepage {
  margin: 5rem auto;
}
.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.tours .tours__title {
  font-size: 2rem;
  padding-bottom: 5px;
  border-bottom: 2px solid hsl(240, 72%, 49%);
}
.tour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 620px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .tour {
    max-width: 340px;
  }
  .tour .tour__info {
    font-size: 0.875rem;
  }
  .tour .tour__title {
    font-size: 1rem;
  }
}
.tour .tour__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}
.tour .tour__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.tour .tour__price {
  color: hsl(120, 100%, 25%);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.25rem;
  padding: 2px 8px;
  background-color: hsl(121deg 71% 84%);
}